<%- include('../partials/header') %>

<section id="show-page">
  <h1>Flight <%= flight.flightNo %></h1>
  <div>Airline: </div>
  <div><%= flight.airline %></div>
  <div>Airport: </div>
  <div><%= flight.airport %></div>
  <div>Flight No: </div>
  <div><%= flight.flightNo %></div>
  <div>Departs: </div>
  <div><%= flight.departs.toLocaleString() %></div>
</section>

<br>
<br>
<h2>Destinations</h2>
<form id="destination-form" method="POST"
  action="/flights/<%= flight._id %>/destinations">
  <label>Airport:</label>
  <select name="airport">
    <option value="NRT">NRT</option>
    <option value="LHR">LHR</option>
    <option value="MEX">MEX</option>
    <option value="HNL">HNL</option>
    <option value="BCN">BCN</option>
  </select>
  <label>Arrival:
    <input type="datetime-local" name="arrival">
  </label><br>
<button type="submit">Add Destination</button>
</form>

<% if (flight.destinations.length) { %>
    <table>
      <thead>
        <tr>
          <th>Airport</th>
          <th>Arrival</th>
        </tr>
      </thead>
      <tbody>
        <% flight.destinations.forEach(function(d) { %>
          <tr>
            <!-- .toLocaleDateString() provides a more friendly date format -->
            <td><%= d.airport %></td>
            <td><%= d.arrival.toLocaleDateString() %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Destinations Yet</h5>
  <% } %>

<br>
<br>
<h2>Tickets</h2>
<a href="/tickets/new">New Ticket</a>
<table id="ticket-table">
  <thead>
    <tr>
      <th>Seat</th>
      <th>Price</th>
      <th>Flight</th>
    </tr>
  </thead>
  <tbody>
    <% tickets.forEach(function(t) { %>
      <tr>
        <td><%= t.seat %></td>
        <td><%= t.price %></td>
        <td><%= t.flight %></td>
      </tr>
    <% }); %>
  </tbody>
</table>



<%- include('../partials/footer') %>